#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}
h1{
    color: blanchedalmond;
}

.main{
    position: relative;
    text-align: center;
}

.sidebar{
    position: relative;
    text-align: center;
}

.foot{
    position: absolute;
    bottom: 0%;
}

