#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    
    width:100%;
    height:100%;
}

.head{
    color: blue;
    background-color: white;
}

.main{
    position: absolute;
    text-align: center;
    background-color: saddlebrown;
}

.sidebar{
    position: relative;
    text-align: center;
    width: 150px;
    height: 500px;
    background-color: burlywood;
}

.foot{
    color: white;
    position: absolute;
    bottom: 0%;
}

